@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
/* // fix Tailwind CSS border styles,form Tailwind CSS's preflight */

::before,
::after {
	box-sizing: border-box; /* 1 */
	border-width: 0px; /* 2 */
	border-style: solid; /* 2 */
	border-color: '#ffffff';
}
::before,
::after {
	--tw-content: '';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.slick-prev,
.slick-next {
	background-color: #e6e8ec !important;
	color: white !important;
	border-radius: 100%;
	display: flex !important;
}

.slick-prev:hover,
.slick-next:hover {
	background-color: gray !important;
}

.slick-track {
	display: flex !important;
	flex-direction: row !important;
	gap: 20px !important;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: 0.75;
	color: black !important;
	margin-top: 0 !important;
}
